

:root{
    --primary-color:rgb(8, 8, 187) ;
    --secondary-color:rgb(20, 189, 48) ;
   
}
.strong{ background-color: blueviolet;
color: aquamarine;    
} 

.foo[style*="color: red"] {
    color: firebrick !important;
  }
  
#moon{
      
    height: 30px;
    cursor: pointer;
}