




<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base page</title>
</head>
<body bgcolor="tomato">
   <h1> this is my funny  page with of adeema images</h1>


   
   
</body>
</html>
<div class="container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            
            
            <div class="carousel-item">
                <img style="height: 1150px; width: 1253px;" src="/static/image/3.JPG" class="d-block w-100" alt="adeema funny">
                <img style="height: 1150px; width: 1253px;" src="/static/image/26.JPG" class="d-block w-100" alt="adeema funny">
            </div>
            
            
           
        </div>
    </div>
</div>

    
           <h1>Welcome to the text analyzer. Enter your text below</h1>
        <form method='POST' action='/analyze/' >
            {% csrf_token %}
            <textarea name='text' style='margin: 0px; width: 721px; height: 93px;'></textarea><br>        
            <input type="checkbox" id="removepunc" name="removepunc"> Remove Punctuations<br>
            <input type="checkbox" id="fullcaps" name="fullcaps"> UPPERCASE<br>
            <input type="checkbox" id="newlineremover" name="newlineremover"> New Line Remover<br>
            <input type="checkbox" id="extraspaceremover" name="extraspaceremover"> Extra Spaces Remover<br>
            <button type='submit'> Analyze Text</button>
        
        </form>
        </body>



    {% comment %} <textarea style="background-color: yellow" name="text" id="text" cols="80" rows="10" style="height: 112px; width: 744px;"></textarea>
    <br>
    <input  type="checkbox" name="rpu" id="rpu" > <big><big>REMOVE PUNCUTATION</big></big>
    <br>
    <input style="background-color:deepskyblue" name="upper" id="upper"  type="checkbox" > <big><big>UPPER CASE</big></big>
    <br>

    <br>
    
    <button style="background-color: green" class="btn btn-danger" type="submit" style="background-color: brown;"><big><big>SUBMITT HERE</big></big> 
    </button> {% endcomment %}


</form>


 
</html>


</body>

